body {
    background-image: url("../img/backgrounds/backgroundAboutUs.jpg");
}
.Footer {
    margin-top: auto;
}
.textOfMainPage h1 {
    font-size: 350%;
}
.textOfMainPage {
    margin-bottom: 40px;
}
