body {
    background-image: url("../img/backgrounds/background.jpg");
}

/* quote */
.quote {
    background-color: rgb(0, 0, 0, 80%);
    display: flex;
    align-items: start;
    margin: 50px 50% 5% 5%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.quote div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-style: italic;
    color:white;
    padding-left: 30px;
    margin-bottom: 0;

}
.quote div p+p {
    color: rgba(255,255,255,80%);
    font-size: 150%;
    font-weight: bold;
    font-style: inherit;
    display: grid;
    justify-items: end;
    padding-top: 5px;
    padding-right: 20px;
    text-transform: uppercase;
}

.quote div {
    display: flex;
    flex-direction: column;
}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: auto;
    height: auto;
}

.circle-image img{
    object-fit: cover;
}



.buttonAddYouHero {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 5%;
}
