body {
    background-color: #1e2027 !important;
}
input {
    background-color: #1e2027;
    border: 2px solid #ccc;
    outline: none;
    color: white;
}

.textName {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textName h5 {
    text-align: center;
}
.textName h5 svg {
    margin: 5px 5px 10px;
}
.textName h1, .textName h5, .textName div:first-child input{
    color: #70D907;
    font-weight: bold;
}
.textName p {
    text-align: center;
    color: white;
}
.textName p::before {
}
.textName p::after {
}

.textName p::before, .textName p::after {
    content: "“";
    color: #70D907;
}

.heroImageAndInfo {
    display: flex;
    flex-direction: row;
}
.heroImageAndInfo p{
    color: white;
    margin-left: 30px;
    font-size: 18px;
}
.heroInfo tr td:nth-child(1) p{
    color: #70D907;
}

.heroImage {
    background-image: url("../img/charactersPage/cirkulTest.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height:30%;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.heroImage img {
    height: 34vw;
    width: auto;
}
.heroImage form {
    margin-top: 15px;
}

.heroInfo {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 40px;
}

.Capitol, .Gallery, .Reviews {
    margin: 5% 2% 3%;
}

.Capitol .CapitolHeader, .Reviews h1, .Gallery h1 {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.Capitol p {
    color: white;
    font-size: 20px;
    margin-top: 2%;
}
.Capitol .imageCapitol {
    height: 30%;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    flex-direction: column;

}

.Capitol div {
    display: flex;
    flex-direction: row;
}
.buttonAddParagraph, .buttonAddCapitol {
    display: flex;
    justify-content: end !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

textarea {
    margin-top: 2% !important;
    resize: none !important;
}
.Reviews h3, .Reviews p {
    margin-right: 5px;
    margin-left: 5px;
}
.Reviews p {
    padding: 10px;
}

.Reviews {
    display: flex;
    flex-direction: column;
}
.Reviews>div{
    background-color: #1e2027;
    margin-bottom: 10px;
}

.areaReview {
    width: 100%
}

.grade {
    padding-right: 0;
    padding-left: 5px;
    margin-right: 5px;
}

.gradeDiv {
    display: flex;
}
.gradeDiv a {
    margin-top: 5px;
}


.autorReview {
    display: flex;
    color: #70D907;
    justify-content: space-between;
}
.reviewButtons {
    display: flex;
    justify-content: space-between;
}
.reviewButtons h5 {
    display: none;
    color: white;

}

.textReview {
    color: white;
    font-size: 18px;
    background-color: #1e2027;
    border: 1px solid #ccc;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .heroImageAndInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heroImage {
        background-image: url("../img/charactersPage/cirkulTest.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70% 70%;
        height:100%;
        width:90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heroImage img {
        height: 80vw;
        width: auto;
    }
    .Capitol div {
        display: flex;
        flex-direction: column;
    }
    .Capitol img {
        height: auto;
        width: auto;
    }
}

