.Footer {
    background-color: rgba(1,1,1,80%);
}
.Footer span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
}
.Footer li {
    margin-right: 10px;
    color: white !important;
}