
.parentLoginPanel {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-body {
    padding: 30px 60px;
    background-color: #1e2027;
    border-color: #70D907;
    border-style: solid;
    border-width: 3px !important;
}

.form-control:focus {
    border-color: #70D097;
    box-shadow: 0 0 0 0.25rem rgba(112,208,151,.25);
}

input:focus {
    outline: 2px solid #70D097 !important; /* Замените цвет и толщину границы по вашему усмотрению */
}
input::placeholder {
}
input {
    background-color: #808681 !important;
    border-color: #2c2d2d !important;
    color: #dadada !important;
    font-family: 'Open Sans', sans-serif;
}