body {
    background-image: url("../img/backgrounds/login.png");
}
.buttonBack {
    width: 100px;
    margin-top: 10px;
}


h1, h6, p, a {
    font-family: 'Open Sans', sans-serif;
    color: #70D907 !important;
}
h1 {
    font-weight: bold;
}
.Footer {
    margin-top: 23ex;
}
