/*NAVBAR*/
.logo {
    height:100px;
    padding-left: 25px;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url("../../../img/menu-bar.png") !important;
}

.navbar-nav {
    margin: 0 auto;
}
.navbar-nav>li{
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    justify-items: center;
}
.navbar-nav>li a{
    font-family: var(--basic--fond);
    font-weight: bold;
    font-size: 24px;
    display: grid;
    justify-items: center;
    padding-bottom: 8px;
}
.navbar-nav>li a img{
    display: none;
}

.navbar-nav>li a:hover,.navbar-nav>li a:hover img, .navbar-nav>li a img:hover, .navbar-nav>li .selectedNavItem{
    color: var(--main--green-color) !important;
    padding-bottom: 0;
}

.navbar-nav>li a:hover img, .navbar-nav>li .selectedNavItem img{
    display: flex;
    width:90%;
    height: 5px;
    margin-top: 3px;
}

.navbar {
    background-color: rgba(12, 12, 12, 0.5);
    align-items: start;
    padding: 0 !important;
}

