.footer {
    background-color: rgba(1,1,1,80%);
}


.footer span {
    color: white;
    font-family: var(--basic--fond);
    margin-left: 50px;
}
.footer li {
    margin-right: 10px;
    color: white !important;
}

.footer a {
    color: white !important;
    text-decoration: none;  
}
