::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
}
.parent {
     display: flex;
     flex-direction: column;
 }